
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
 
}

:root{
  --primary:#978ABC;
  --second:#f9f9f9;
  --third:#CDF0EA;
  --fourth:#BEAEE2;
  --font:'Nunito Sans';
  --bold:800px;
  --regular:600px;
  --light:300px;
  --error-color: #970071;
}

.btn {
  text-decoration: none;
  padding: 1rem 2rem;
  background-color:var(--second);
  color:var(--primary);
  letter-spacing: 1px;/* espacio entre letras*/
  font-weight:bold;
  text-align: center;
  border-radius: 10px;
  border:var(--primary) 1px solid; 
}


/*body{
height: 100vh;
background: linear-gradient(180deg, rgba(205,240,234,1) 0%, rgba(247,219,240,1) 50%, rgba(249,249,249,1) 100%);
background-repeat: no-repeat;
background-clip: content-box;
}
*/
 

.container { 
  background: linear-gradient(180deg, rgba(205,240,234,1) 0%, rgba(247,219,240,1) 50%, rgba(249,249,249,1) 100%);
  background-repeat: no-repeat;
  background-clip: content-box;
  position: relative;
  min-height: 100vh;
}

.container-wrap{
  padding-bottom: 2.5rem;
}

.home-title,
.login-title,
.register-title {
font-weight:bold;
color:var(--primary);
text-align: center;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
display: block;
margin:5rem auto;
width:20vh ;
height:20vh;
filter:drop-shadow(10px 10px 15px grey)

}
.home-btn {
display: grid;
grid-template-columns:repeat(1, 16rem) ;
grid-template-rows: repeat(3, 6rem);
align-items: center;
justify-content: center;
}

/*.home-btn > a:hover*/
.btn:hover
{
box-shadow:  9px 9px 13px var(--fourth);

}

footer{
background-color:var(--third);
display: flex;
align-items: center;
justify-content: center;
position:absolute;
bottom:0;
height: 8vh;
width:100%;
margin-top: 3rem;
/* margin: 0vh; */
padding: 0;
flex-wrap: wrap;
}

.copyright{
  background-color:var(--third);
  padding: 1rem;
  position:absolute;
  width: 100%;
  text-align: center;
  font-size: 2vh;
  margin-top: 3.5rem;
}

.copyright > a{
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.copyright > a:visited{
  color: var(--error-color);
}


  .social-icon{ 
    z-index: 1;
    padding: 10px 10px;
    color:#f7f8f7;
    text-decoration: none;
    text-shadow: 0px 0px 8px gray;
  }
  .social-icon:hover{
    transform:scale(1.5);
    transition: .5s;
}

label{
  color: var(--primary);
  font-weight:bold;
}
.login-form{
display: grid;
grid-template-columns:repeat(1, 15rem) ;
grid-template-rows: 4rem 4rem 1rem 5rem;
row-gap: 1rem;
align-items: center;
justify-content: center;
margin: 2rem auto;
}

.login-input > input {
  text-align: center;
  align-content: center;
  border-radius: 10px;
  border:var(--primary) 1px solid;
  padding: .5rem 1rem;
  outline: var(--primary);
  width: 100%;
}

.login-input > input::placeholder {
font-size:10px ;
color: var(--fourth);

}
.login-input > input:focus {
box-shadow:  9px 9px 13px var(--fourth); 
}
.login-form > span {
  text-align: center;
  font-size: 12px;
  cursor:pointer;
}
.register-form{
display: grid;
grid-template-columns:repeat(1, 15rem) ;
grid-template-rows: repeat(3, 4rem) 3rem 4rem;
row-gap: 1rem;
align-items: center;
justify-content: center;
margin: 2rem auto;
}
.register-input > input {
 width: 100%;
 text-align: center;
 align-content: center;
 border-radius: 10px;
 border:var(--primary) 1px solid;
 padding: .5rem 1rem;
 outline: var(--primary);
}
.register-input > span {
  text-align: center;
  font-size: 12px;
  cursor:pointer;
  width: 100%; 
}
.center{
  justify-content: center;
  display: flex;
}
.register-input > input::placeholder {
  font-size:10px ;
  color: var(--fourth);
  
}
.register-input > input:focus {
  box-shadow:  9px 9px 13px var(--fourth); 
}

.google{
width:1rem ;
height:1rem ;
}

.error-message{
  display: flex;
  flex-wrap: wrap;
}

.error{
  color: var(--error-color);
  text-align: center;
  width: 100%;
  display: inline-block;
}

.hidden {
  display: none;
}

.resetPassword{
  cursor: pointer;
  color:var(--error-color);
}

/*Estilo Form en Feed*/

.form-container{
  padding: 1rem;
}

.post-form {
  display: grid;
  grid-template-columns:repeat(1, 15rem) ;
  grid-template-rows:  1rem , 2rem, 1rem, 4rem, 2rem, 2rem;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}
.post-form > textarea, input {
  text-align: center;
  align-content: center;
  border-radius: 10px;
  border:var(--primary) 1px solid;
  padding: .5rem 1rem;
  outline: var(--primary);
  width: 100%; 
}
.post{
  display: grid;
  grid-template-columns:repeat(1, 20rem) ;
  grid-template-rows:  1rem , 2rem, 4rem, 2rem;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  width: 100%;
}
.post-container{
  margin:2rem auto ;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}